@import "tailwindcss";

@theme {
  --color-primary: var(--theme-primary);
  --color-primary-hover: var(--theme-primary-hover);
  --color-secondary: var(--theme-secondary);
}

@custom-variant dark (&:where(.dark, .dark *));
